<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{my_profile :: meta}"></th:block>
    <title>Сообщества</title>
    <th:block th:replace="~{my_profile :: style}"></th:block>
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1>Сообщества</h1>

<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>creator_login</td>
    </tr>
    <tr th:each="community : ${communities}">
        <td th:text="${community.id}"></td>
        <td th:text="${community.name}"></td>
        <td th:text="${community.creatorLogin}"></td>
    </tr>
</table>

</body>
</html>