<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{my_profile :: meta}"></th:block>
    <title>Участники сообществ</title>
    <th:block th:replace="~{my_profile :: style}"></th:block>
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1>Участники сообществ</h1>

<table>
    <tr>
        <td>id</td>
        <td>member_login</td>
        <td>community_id</td>
    </tr>
    <tr th:each="communityMember : ${communityMembers}">
        <td th:text="${communityMember.id}"></td>
        <td th:text="${communityMember.memberLogin}"></td>
        <td th:text="${communityMember.communityId}"></td>
    </tr>
</table>

</body>
</html>